{:aliases
 {:1.8
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.8.0"}
    }}
  :1.9
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.9.0"}
    }}
  :1.10
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.10.0-beta1"}
    }}
  :test
  {:extra-paths ["test"]}}}
