{:aliases
 {:1.8
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.8.0"}
    }}
  :1.9
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.9.0"}
    }}
  :1.10
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.10.0-beta1"}
    }}
  :test
  {:extra-paths ["test"]
   :extra-deps
   {
    badigeon/badigeon         {:git/url "https://github.com/aJchemist/badigeon.git" :sha "58026149fd3272460b09d1251275626a588f837a"}
    com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git" :sha "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}
    }}}}
